{#
/**
 * @file
 * Template pour les champs
 */
#}
{% if multiple %}
  <div{{ attributes.addClass('field', 'field--name-' ~ field_name|clean_class, 'field--type-' ~ field_type|clean_class, 'field--label-' ~ label_display) }}>
    {% if label_hidden %}
      {% if multiple %}
        <div class="field__items space-y-2">
      {% endif %}
    {% else %}
      <div class="field__label font-medium text-gray-900 mb-2">{{ label }}</div>
      {% if multiple %}
        <div class="field__items space-y-2">
      {% endif %}
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% else %}
  {% for item in items %}
    <div{{ attributes.addClass('field', 'field--name-' ~ field_name|clean_class, 'field--type-' ~ field_type|clean_class, 'field--label-' ~ label_display) }}>
      {% if not label_hidden %}
        <div class="field__label font-medium text-gray-900 mb-2">{{ label }}</div>
      {% endif %}
      <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
    </div>
  {% endfor %}
{% endif %}